.baggrund {
    position: absolute;
    width: 1350px;
    height: 800px;
    left: 70px;
    right: 70px;
    top: 100px;
    background: rgba(221, 193, 167, 0.22);
    border-radius: 5px;
}

.tilbage-knap{
    position: absolute;
    left: 10px;
    top: 40px;
    width: 50px;
    height: 50px;
    font-size: 30px;
text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: #DDC1A7;
    color: white;
    border-radius: 100%;
    border: #DDC1A7;
}

.tilbage-knap:hover {
    opacity: 0.5;
}

.line-under-h1 {
    position: center;
    width: 800px;
    border: 1px solid #000000;
    opacity: 50%;
}

.h1 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;

    color: #000000;
    opacity: 0.65;
}

.ønskeliste-navn {
    position: absolute;
    width: 400px;
    height: 40px;
    left: 480px;
    top: 100px;
    background-color: white;
    border-radius: 5px;
    border: white;
    padding-left: 10px;
}

.circle1 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 250px;
    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    fill: #DDC1A7;
}

.circle2{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 500px;
    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    fill: #DDC1A7;
}



.centre-knap {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.knap {
    background-color: #DDC1A7;
    border-radius: 35px;
    color: #6B3F29;
    border: #DDC1A7;
}

.knap:hover{
    opacity: 0.5;
}



