
.logo {
    position: absolute;
    width: 5px;
    height: 5px;
    right: 1480px;
    bottom: 780px;
    border-radius: 30px;


}

.logudknap {
    position: absolute;
    width: 125px;
    height: 35px;
    left: 1287.5px;
    top: 73px;
    border-radius: 30px;
    border: #DDC1A7;
    background: #DDC1A7;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    text-decoration-color: black;

}
.logudknap:hover{opacity: 0.5;}


.log-ud-tekst {
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    text-decoration-color: black;
    opacity: 0.65;

}

.baggrund {
    position: absolute;
    width: 1350px;
    height: 1900px;
    left: 70px;
    right: 70px;

    top: 142px;
    background: rgba(221, 193, 167, 0.22);
    border-radius: 5px;

}

.line-under-h1 {
    position: center;
    width: 1150px;
    border: 1px solid #000000;
    opacity: 50%;
}

.h1 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;

    color: #000000;
    opacity: 0.65;
}

.circle1 {
    position: absolute;
    width: 298px;
    height: 296px;
    left: 260px;
    top: 150px;
    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url(https://cphimageprocessor-prod.azurewebsites.net/productimages/heinemann/624489.jpg?width=256&height=256&mode=max);
    background-position: center;
    background-size: cover;
}

.circle2 {
    position: absolute;
    width: 298px;
    height: 296px;
    right: 260px;
    top: 150px;
    border-radius: 100%;

    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url( https://i.pinimg.com/150x150/09/2e/f8/092ef8759c754de10f724a7997f5fa15.jpg);
    background-position: center;
    background-size: cover;

}
.circle3{
    position: absolute;
    width: 298px;
    height: 296px;
    left: 260px;
    top: 500px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url( https://media.fabfab.net/images/products/small/kjole-burda-6224-34-44--30_6224_ZB06.jpg);
    background-position: center;
    background-size: cover;
}

.circle4{
    position: absolute;
    width: 298px;
    height: 296px;
    right: 260px;
    top: 500px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url(https://img.makeupalley.com/thumb/h/350/0_0_0_1_3736606.jpeg);
    background-position: center;
    background-size: cover;
}

.circle5{
    position: absolute;
    width: 298px;
    height: 296px;
    left: 260px;
    bottom: 750px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url(https://nemmehjemmesider.dk/aspuploader/savefiles/25668/5086070000670_lip-stick-41-g-pink-seducer.jpeg);
    background-position: center;
    background-size: cover;
}

.circle6{
    position: absolute;
    width: 298px;
    height: 296px;
    right: 260px;
    bottom: 750px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url(https://cdn.shopify.com/s/files/1/0053/0910/4241/products/977357703308699c111acaa859271905.image.256x256_1200x1200.jpg?v=1573125776);
    background-position: center;
    background-size: cover;
}

.circle7{
    position: absolute;
    width: 298px;
    height: 296px;
    left: 260px;
    bottom: 400px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url(https://cdn.shopify.com/s/files/1/0115/9639/8649/products/Pico_smykke_packs_0619_18502_5f75b8bf-bc5c-4a5a-9a26-4a3bdf2237ee_grande.jpg?v=1622803240);
    background-position: center;
    background-size: cover;
}

.circle8{
    position: absolute;
    width: 298px;
    height: 296px;
    right: 260px;
    bottom: 400px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url(https://cdn.shopify.com/s/files/1/0510/4694/0866/products/01-016_256x.jpg?v=1614325851);
    background-position: center;
    background-size: cover;
}

.circle9{
    position: absolute;
    width: 298px;
    height: 296px;
    left: 260px;
    bottom: 60px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url( https://kikbuild-static.myshopblocks.com/images/2019/07/contain/256x256/0380ecb9fccd1e884b908c27f9b0e0be.jpg);
    background-position: center;
    background-size: cover;
}

.circle10{
    position: absolute;
    width: 298px;
    height: 296px;
    right: 260px;
    bottom: 60px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url(https://royaldesign.dk/image/4/smeg-smeg-espressomaskine-sort-6?w=168&quality=80);
    background-position: center;
    background-size: cover;
}



.tekst-under-cirkler1 {
    position: absolute;
    width: 259px;
    height: 31px;
    left: 380px;

    top: 430px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    opacity: 0.65;
}

.tekst-under-cirkler2 {
    position: absolute;
    width: 259px;
    height: 31px;
    right: 180px;
    top: 430px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;


    color: #000000;

    opacity: 0.65;
}

.tekst-under-cirkler3{
    position: absolute;
    width: 259px;
    height: 31px;
    left: 390px;
    top: 790px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}
.tekst-under-cirkler4{
    position: absolute;
    width: 259px;
    height: 31px;
    right: 190px;
    top: 790px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}

.tekst-under-cirkler5{
    position: absolute;
    width: 259px;
    height: 31px;
    left: 370px;
    bottom: 690px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}

.tekst-under-cirkler6{
    position: absolute;
    width: 259px;
    height: 31px;
    right: 170px;
    bottom: 690px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}
.tekst-under-cirkler7{
    position: absolute;
    width: 259px;
    height: 31px;
    left: 390px;
    bottom: 340px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}

.tekst-under-cirkler8{
    position: absolute;
    width: 259px;
    height: 31px;
    right: 190px;
    bottom: 340px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}

.tekst-under-cirkler9{
    position: absolute;
    width: 259px;
    height: 31px;
    left: 360px;
    bottom: 2px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}

.tekst-under-cirkler10{
    position: absolute;
    width: 259px;
    height: 31px;
    right: 200px;
    bottom: 2px;
    text-justify: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}

.add_circle1{
    position: absolute;
    width: 26px;
    height: 24px;
    left: 510px;
    top: 450px;
    border-radius: 50%;
    background-image: url("https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png");


    background: #FFFFFF;
}
.add_circle2{
    position: absolute;
    width: 26px;
    height: 24px;
    right: 285px;
    top: 450px;
    border-radius: 50%;

    background-image: url(https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png);
    background-position: center;
    background-size: cover;
    background: #FFFFFF;

}

.add_circle3{
    position: absolute;
    width: 26px;
    height: 24px;
    left: 510px;
    top: 810px;
    border-radius: 50%;
    background: #FFFFFF;

}

.add_circle4{
    position: absolute;
    width: 26px;
    height: 24px;
    right: 285px;
    top: 810px;
    border-radius: 50%;
    background: #FFFFFF;
}

.add_circle5{
    position: absolute;
    width: 26px;
    height: 24px;
    left: 510px;
    bottom: 720px;
    border-radius: 50%;
    background: #FFFFFF;

}

.add_circle6{
    position: absolute;
    width: 26px;
    height: 24px;
    right: 285px;
    bottom: 720px;
    border-radius: 50%;
    background: #FFFFFF;

}

.add_circle7{
    position: absolute;
    width: 26px;
    height: 24px;
    left: 510px;
    bottom: 365px;
    border-radius: 50%;
    background: #FFFFFF;
}
.add_circle8{
    position: absolute;
    width: 26px;
    height: 24px;
    right: 285px;
    bottom: 365px;
    border-radius: 50%;
    background: #FFFFFF;
}
.add_circle9{
    position: absolute;
    width: 26px;
    height: 24px;
    left: 510px;
    bottom: 30px;
    border-radius: 50%;
    background: #FFFFFF;
}
.add_circle10{
    position: absolute;
    width: 26px;
    height: 24px;
    right: 285px;
    bottom: 30px;
    border-radius: 50%;
    background: #FFFFFF;
}


.container-bottom {
    position: absolute;
    top: 2040px;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    margin-top: auto;

}