
.logo {
    position: absolute;
    width: 5px;
    height: 5px;
    right: 1480px;
    bottom: 780px;
    border-radius: 30px;


}

.logudknap {
    position: absolute;
    width: 125px;
    height: 35px;
    left: 1287.5px;
    top: 73px;
    border-radius: 30px;
    border: #DDC1A7;
    background: #DDC1A7;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    text-decoration-color: black;

}
.logudknap:hover{opacity: 0.5;}


.log-ud-tekst {
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    text-decoration-color: black;
    opacity: 0.65;

}

.baggrund {
    position: absolute;
    width: 1350px;
    height: 1900px;
    left: 70px;
    right: 70px;

    top: 142px;
    background: rgba(221, 193, 167, 0.22);
    border-radius: 5px;

}

.line-under-h1 {
    position: center;
    width: 1150px;
    border: 1px solid #000000;
    opacity: 50%;
}

.h1 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;

    color: #000000;
    opacity: 0.65;
}

.circle1 {
    position: absolute;
    width: 298px;
    height: 296px;
    left: 260px;
    top: 150px;
    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url(https://www.rum21.dk/image/15/royal-copenhagen-black-fluted-mega-tallerken-19-cm-dekor-nr6-1?w=200&quality=80);
    background-position: center;
    background-size: cover;
}

.circle2 {
    position: absolute;
    width: 298px;
    height: 296px;
    right: 260px;
    top: 150px;
    border-radius: 100%;

    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url( https://royaldesign.dk/image/4/gense-fuga-bestik-16-dele-mat-0?w=168&quality=80);
    background-position: center;
    background-size: cover;

}
.circle3{
    position: absolute;
    width: 298px;
    height: 296px;
    left: 260px;
    top: 500px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url( https://royaldesign.dk/image/4/decotique-grand-6-pers-sofa-4?w=168&quality=80);
    background-position: center;
    background-size: cover;
}

.circle4{
    position: absolute;
    width: 298px;
    height: 296px;
    right: 260px;
    top: 500px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url( https://www.sexshop.dk/media/catalog/product/cache/1/small_image/256x/9df78eab33525d08d6e5fb8d27136e95/d/u/durex_play_50ml_2.jpg);
    background-position: center;
    background-size: cover;
}

.circle5{
    position: absolute;
    width: 298px;
    height: 296px;
    left: 260px;
    bottom: 750px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url(https://royaldesign.dk/image/4/byon-chess-backgammon-beth-spil-29x29-cm-0?w=168&quality=80);
    background-position: center;
    background-size: cover;
}

.circle6{
    position: absolute;
    width: 298px;
    height: 296px;
    right: 260px;
    bottom: 750px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/dimension=256x10000:format=jpg/path/sa434386c8bf733b8/image/ibc47e98790ab3314/version/1514222430/image.jpg);
    background-position: center;
    background-size: cover;
}

.circle7{
    position: absolute;
    width: 298px;
    height: 296px;
    left: 260px;
    bottom: 400px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url( https://royaldesign.dk/image/4/bodum-kenya-kaffemaskine-8-kopper-krom-0?w=168&quality=80);
    background-position: center;
    background-size: cover;
}

.circle8{
    position: absolute;
    width: 298px;
    height: 296px;
    right: 260px;
    bottom: 400px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url( https://royaldesign.dk/image/4/eva-solo-nordic-kitchen-frying-pan-stainless-steel-3?w=168&quality=80);
    background-position: center;
    background-size: cover;
}

.circle9{
    position: absolute;
    width: 298px;
    height: 296px;
    left: 260px;
    bottom: 60px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url( https://ipcdn.freshop.com/resize?url=https://images.freshop.com/7863715/f4b9b36ded8ef2a560932ade92fe8cad_large.png&width=256&type=webp&quality=80);
    background-position: center;
    background-size: cover;
}

.circle10{
    position: absolute;
    width: 298px;
    height: 296px;
    right: 260px;
    bottom: 60px;

    border-radius: 100%;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
    background-image: url(https://royaldesign.dk/image/4/normann-copenhagen-bell-lampe-small-sort-8?w=168&quality=80);
    background-position: center;
    background-size: cover;
}



.tekst-under-cirkler1 {
    position: absolute;
    width: 259px;
    height: 31px;
    left: 300px;

    top: 430px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    opacity: 0.65;
}

.tekst-under-cirkler2 {
    position: absolute;
    width: 259px;
    height: 31px;
    right: 250px;
    top: 430px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;


    color: #000000;

    opacity: 0.65;
}

.tekst-under-cirkler3{
    position: absolute;
    width: 259px;
    height: 31px;
    left: 300px;
    top: 790px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}
.tekst-under-cirkler4{
    position: absolute;
    width: 259px;
    height: 31px;
    right: 250px;
    top: 790px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}

.tekst-under-cirkler5{
    position: absolute;
    width: 259px;
    height: 31px;
    left: 300px;
    bottom: 690px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}

.tekst-under-cirkler6{
    position: absolute;
    width: 259px;
    height: 31px;
    right: 250px;
    bottom: 690px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}
.tekst-under-cirkler7{
    position: absolute;
    width: 259px;
    height: 31px;
    left: 300px;
    bottom: 340px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}

.tekst-under-cirkler8{
    position: absolute;
    width: 259px;
    height: 31px;
    right: 250px;
    bottom: 340px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}

.tekst-under-cirkler9{
    position: absolute;
    width: 259px;
    height: 31px;
    left: 300px;
    bottom: 2px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}

.tekst-under-cirkler10{
    position: absolute;
    width: 259px;
    height: 31px;
    right: 250px;
    bottom: 2px;
    text-justify: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;


    color: #000000;

    opacity: 0.65;
}

.add_circle1{
    position: absolute;
    width: 26px;
    height: 24px;
    left: 510px;
    top: 450px;
    border-radius: 50%;
    background-image: url("https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png");


    background: #FFFFFF;
}
.add_circle2{
    position: absolute;
    width: 26px;
    height: 24px;
    right: 285px;
    top: 450px;
    border-radius: 50%;

    background-image: url(https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png);
    background-position: center;
    background-size: cover;
    background: #FFFFFF;

}

.add_circle3{
    position: absolute;
    width: 26px;
    height: 24px;
    left: 510px;
    top: 810px;
    border-radius: 50%;
    background: #FFFFFF;

}

.add_circle4{
    position: absolute;
    width: 26px;
    height: 24px;
    right: 285px;
    top: 810px;
    border-radius: 50%;
    background: #FFFFFF;
}

.add_circle5{
    position: absolute;
    width: 26px;
    height: 24px;
    left: 510px;
    bottom: 720px;
    border-radius: 50%;
    background: #FFFFFF;

}

.add_circle6{
    position: absolute;
    width: 26px;
    height: 24px;
    right: 285px;
    bottom: 720px;
    border-radius: 50%;
    background: #FFFFFF;

}

.add_circle7{
    position: absolute;
    width: 26px;
    height: 24px;
    left: 510px;
    bottom: 365px;
    border-radius: 50%;
    background: #FFFFFF;
}
.add_circle8{
    position: absolute;
    width: 26px;
    height: 24px;
    right: 285px;
    bottom: 365px;
    border-radius: 50%;
    background: #FFFFFF;
}
.add_circle9{
    position: absolute;
    width: 26px;
    height: 24px;
    left: 510px;
    bottom: 30px;
    border-radius: 50%;
    background: #FFFFFF;
}
.add_circle10{
    position: absolute;
    width: 26px;
    height: 24px;
    right: 285px;
    bottom: 30px;
    border-radius: 50%;
    background: #FFFFFF;
}


.container-bottom {
    position: absolute;
    top: 2040px;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    margin-top: auto;

}