
.logo {
    position: absolute;
    width: 5px;
    height: 5px;
    right: 1350px;
    top: 30px;
    border-radius: 30px;

}

.logud {
    position: absolute;
    width: 125px;
    height: 35px;
    left: 1287.5px;
    top: 73px;
    border-radius: 30px;
    background: #DDC1A7;
    opacity: 0.5;
}

.log-ud-tekst {
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    text-decoration-color: black;
    opacity: 0.65;

}

.baggrund {
    position: absolute;
    width: 1350px;
    height: 800px;
    left: 70px;
    right: 70px;

    top: 142px;
    background: rgba(221, 193, 167, 0.22);
    border-radius: 5px;
}

.line-under-h1 {
    position: center;
    width: 793px;
    border: 1px solid #000000;
    opacity: 50%;
}

.h1 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;

    color: #000000;
    opacity: 0.65;
}

.circle1 {
    position: absolute;
    width: 298px;
    height: 296px;
    left: 260px;
    top: 90px;
    border-radius: 100%;
    opacity: 0.5;
    border: 5px solid #C4A48B;
    box-sizing: border-box;


}

.circle2 {
    position: absolute;
    width: 298px;
    height: 296px;
    right: 260px;
    top: 90px;
    border-radius: 100%;
    opacity: 0.5;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
}
.circle3{
    position: absolute;
    width: 298px;
    height: 296px;
    left: 260px;
    bottom: 60px;

    border-radius: 100%;
    opacity: 0.5;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
}

.circle4{
    position: absolute;
    width: 298px;
    height: 296px;
    right: 260px;
    bottom: 60px;

    border-radius: 100%;
    opacity: 0.5;
    border: 5px solid #C4A48B;
    box-sizing: border-box;
}




.tekst-under-cirkler1 {
    position: absolute;
    width: 259px;
    height: 31px;
    left: 300px;

    bottom: 350px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    opacity: 0.65;
}

.tekst-under-cirkler2 {
    position: absolute;
    width: 259px;
    height: 31px;
    right: 250px;
    bottom: 350px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}

.tekst-under-cirkler3{
    position: absolute;
    width: 259px;
    height: 31px;
    left: 300px;
    bottom: 2px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}
.tekst-under-cirkler4{
    position: absolute;
    width: 259px;
    height: 31px;
    right: 250px;
    bottom: 2px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    opacity: 0.65;
}

.add_circle1{
    position: absolute;
    width: 26px;
    height: 24px;
    left: 510px;
    top: 400px;


    background: #FFFFFF;
}
.add_circle2{
    position: absolute;
    width: 26px;
    height: 24px;
    right: 285px;
    top: 400px;

    background: #FFFFFF;

}

.add_circle3{
    position: absolute;
    width: 26px;
    height: 24px;
    left: 510px;
    bottom: 30px;

    background: #FFFFFF;

}

.add_circle4 {
    position: absolute;
    width: 26px;
    height: 24px;
    right: 285px;
    bottom: 30px;

    background: #FFFFFF;
}