<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/Forside.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>

<body>

<img th:src=@{"assets/logo.png"} src="assets/logo.png" alt="logo"
     style="display: inline-block;
     width: 510px;
     height: 510px;
     left: 118px;
     top: 236px;
     float: left;">

<div class="baggrund">

</div>

<div class="titleForside">
    <h2>Velkommen til Ønsker, hvor dit hjertets håb bliver til virkelighed!</h2>

</div>


<div class="buttonI-O">
    <a href="https://www.w3schools.com/" style="text-decoration: none">Start med at håbe her!</a>
</div>

<div class="subheadingForside">
    <h2>har du måske kun brug for inspiration?</h2>
</div>

<div class="buttonI-O">
    <a href="https://www.w3schools.com/" style="text-decoration: none">find den perfekte gave</a>
</div>

<div class="buttonL">
    <a href="https://www.w3schools.com/" style="text-decoration: none">log ind</a>
</div>



</body>

</html>