<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/Forside.css">
    <link th:href="@{Forside.css}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

</head>

<body>


<div class="baggrund">
    <div class="logo">
        <img th:src=@{"assets/logo.png"} src="assets/logo.png" alt="logo">

    </div>

    <hr class="lineBetween">

    <div class="titleForside">
        <h2>Velkommen til Ønsker, hvor dit hjertets håb bliver til virkelighed!</h2>

    </div>

    <div class="buttonStart">
        <a href="https://www.w3schools.com/" style="text-decoration: none">Start med at håbe her!</a>
    </div>

    <div class="brugforInspiration">
        <h2>har du måske kun brug for inspiration?</h2>
    </div>

    <div class="buttonInspire">
        <a href="https://www.w3schools.com/" style="text-decoration: none">Find den perfekte gave</a>
    </div>

    <div class="buttonLog">
        <a href="https://www.w3schools.com/" style="text-decoration: none">log ind</a>
    </div>

</div>

</body>

</html>