<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in side</title>
    <link rel="stylesheet" href="../static/Login.css">

</head>
<body>

<div class="logo">
    <img th:src=@{"assets/logo.png"} src="assets/logo.png">
</div>

<div class="logudknap">
    <a href="https://www.w3schools.com/">log ud</a>

</div>


<div class="baggrund">
    <div class ="container-top">
    <h1 class="h1">velkommen *navn*</h1>
    <hr class="line-under-h1">
    <div class ="circle1">
    </div>
    <p class="jul">jul</p>
    <p class="tekst-over-cirkler">kan vi foreslå?</p>
    <div class="circle2"></div>
    <p class="fødselsdag">fødselsdag</p>
    <hr class="line-mellem-cirkler">
    <div class="circle3"></div>
    <p class="tekst-over-cirkler2">ellers opret din egen!</p>
    </div>
    <div class="container-bottom">
       <h1 class="h1">mangler du inspiration?</h1>
        <hr class="line-under-inspi">
        <div class="inspi-circle1">
            <a href="www.google.com">til ham</a>
        </div>
        <div class="inspi-circle2">
            <a href="www.google.com">til hende</a>
        </div>
        <div class="inspi-circle3">
            <a href="www.google.com">til barnet</a>
        </div>
        <div class="inspi-circle4">
            <a href="www.google.com">til parret</a>
        </div>
    </div>


</div>

</body>
</html>