<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in side</title>
    <link rel="stylesheet" href="../static/Login.css">

</head>
<body>

<div class="logo">
</div>

<div class="logud">
    <div class="log-ud-tekst">log ud</div>
</div>


<container class="baggrund">
    <div class ="container-top">
    <h1 class="h1">velkommen *navn*</h1>
    <hr class="line-under-h1">
    <div class ="circle1"></div>
    <p class="jul">jul</p>
    <p class="tekst-over-cirkler">kan vi foreslå?</p>
    <div class="circle2"></div>
    <p class="fødselsdag">fødselsdag</p>
    <hr class="line-mellem-cirkler">
    <div class="circle3"></div>
    <p class="tekst-over-cirkler2">ellers opret din egen!</p>
    </div>
    <div class="container-bottom">
       <h1 class="h1">mangler du inspiration?</h1>
        <hr class="line-under-inspi">
        <div class="inspi-circle1">til ham</div>
        <div class="inspi-circle2">
        </div>
        <div class="inspi-circle3"></div>
        <div class="inspi-circle4"></div>
    </div>


</container>

</body>
</html>