<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret ønskeliste</title>
    <link rel="stylesheet" href="../static/OpretØnskeliste.css">
    <link th:href="@{OpretØnskeliste.css}" rel="stylesheet">

</head>
<body>

<div>
    <a href="/Forside">
        <button class="logudknap">log ud</button>
    </a>



</div>
<div class="baggrund">
    <a href="EfterLogin.html">
        <button class="tilbage-knap"> <</button>
    </a>
    <h1 class="h1">velkommen *navn*</h1>
    <hr class="line-under-h1">
    <input type="text" placeholder="giv din nye ønskeliste et navn" name="ønskeliste" required
           class="ønskeliste-navn">
    <div class="circle1" style="left: 75px;">
        <div class="centre-knap">
            <form action="/OpretØnskeliste" method="post">
                <input class="input-felt" type="text" placeholder="tilføj ønske" name="wish" required>
                <button class="knap" type="submit">Tilføj</button>
        </div>

        </form>


    </div>

    <div class="circle1" style="left: 325px">
        <div class="centre-knap">
            <form action="/OpretØnskeliste" method="post">
                <input class="input-felt" type="text" placeholder="tilføj ønske" name="wish" required>
                <button class="knap" type="submit">Tilføj</button>
            </form>
        </div>
    </div>
    <div class="circle1" style="left: 575px">
        <div class="centre-knap">
            <form action="/OpretØnskeliste" method="post">
                <input class="input-felt" type="text" placeholder="tilføj ønske" name="wish" required>
                <button class="knap" type="submit">Tilføj</button>
            </form>
        </div>
    </div>
    <div class=" circle1" style="left: 825px;">
        <div class="centre-knap">
            <form action="/OpretØnskeliste" method="post">
                <input class="input-felt" type="text" placeholder="tilføj ønske" name="wish" required>
                <button class="knap" type="submit">Tilføj</button>
            </form>
        </div>
    </div>
    <div class="circle1" style="left:1075px;">
        <div class="centre-knap">
            <form action="/OpretØnskeliste" method="post">
                <input class="input-felt" type="text" placeholder="tilføj ønske" name="wish" required>
                <button class="knap" type="submit">Tilføj</button>
            </form>
        </div>
    </div>
    <div class="circle2" style="left: 75px;">
        <div class="centre-knap">
            <button class="knap">Tilføj ønske</button>
        </div>
    </div>
    <div class="circle2" style="left: 325px">
        <div class="centre-knap">
            <form action="/OpretØnskeliste" method="post">
                <input class="input-felt" type="text" placeholder="tilføj ønske" name="wish" required>
                <button class="knap" type="submit">Tilføj</button>
            </form>
        </div>
    </div>
    <div class="circle2" style="left: 575px">
        <div class="centre-knap">
            <form action="/OpretØnskeliste" method="post">
                <input class="input-felt" type="text" placeholder="tilføj ønske" name="wish" required>
                <button class="knap" type="submit">Tilføj</button>
            </form>
        </div>
    </div>
    <div class=" circle2" style="left: 825px;">
        <div class="centre-knap">
            <form action="/OpretØnskeliste" method="post">
                <input class="input-felt" type="text" placeholder="tilføj ønske" name="wish" required>
                <button class="knap" type="submit">Tilføj</button>
            </form>
        </div>
    </div>
    <div class="circle2" style="left:1075px;">
        <div class="centre-knap">
            <form action="/OpretØnskeliste" method="post">
                <input class="input-felt" type="text" placeholder="tilføj ønske" name="wish" required>
                <button class="knap" type="submit">Tilføj</button>
            </form>
        </div>
    </div>


</div>
</div>

</body>
</html>