<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oprettelses side</title>
    <link rel="stylesheet" href="../static/oprettelse.css">
    <link th:href="@{oprettelse.css}" rel="stylesheet">
</head>
<body>

<div class=baggrund>

    <div class="logo" style="background-image: url(assets/logo.png)"></div>
    <div class="under-logo-tekst"> Velkommen til Ønsker, hvor dit hjertets håb bliver til virkelighed!</div>
    <hr class="linje-mellem-logo-og-bokse">
    <div class="sign-up-box">
        <div class="startup-text">start din rejse her!</div>
        <div class="tekst-under-startup">er du allerede tilmeldt?</div>
        <div class="login-link">
            <a href="www.google.com">log ind!</a></div>
        <input type="text" placeholder="fornavn" name="fornavn" required class="fornavn">
        <input type="text" placeholder="efternavn" name="efternavn" required class="efternavn">
        <div class="fødselsdags-tekst"><h4>hvornår er du født?</h4></div>
        <input type="date" placeholder="fødselsdag" name="fødselsdag" required class="fødselsdag">
        <div class="col"><select class="køn">
            <option>hvad er dit køn?</option>
            <option>mand</option>
            <option>kvinde</option>
            <option>andet</option>
        </select></div>
        <input type="email" placeholder="indtast din e-mail" name="e-mail" required class="email">
        <input type="password" placeholder="indtast din nye adgangskode" name="password" required class="adgangskode">
        <input type="password" placeholder="gentag adgangskode" name="password" required class="adgangskode-gentag">

        <div class="opret-knap">opret</div>
    </div>
</div>
</body>
</html>