<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Til Ham </title>

    <link rel="stylesheet" href="../static/TilHamCss.css">

</head>
<body>

<header>
   <div class="wrapper">
   <div class="logo">
       <img src="ønsker.jpg"> </div>


       <ul class="nav-area">
           <li><a> Log ud</a> </li>
           <li><a> Om os</a> </li>
           </ul>

   </div>

    <div class="Kategori-text" >

        <h1> Til Ham </h1>
        <hr class="Forside-linje">

    </div>

    <div class="box">

    </div>

</header>


</body>
</html>