<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Til Parret</title>
    <link rel="stylesheet" href="../static/TilParret.css">
</head>
<body>

<div class="logo">
    <img src="assets/logo.png" style="width: 200px">
</div>

<div class="logudknap">
    <div class="log-ud-tekst">log ud</div>
</div>


<div class="baggrund">
    <h1 class="h1">Til Parret </h1>
    <hr class="line-under-h1">

    <div class ="circle1"></div>
    <p class="tekst-under-cirkler1">Tallerken</p>
    <div class="add_circle1" style="background-image: url(https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png);
    background-position: center;
    background-size: cover;"></div>

    <div class="circle2"></div>
    <p class="tekst-under-cirkler2"> Bestik</p>
    <div class="add_circle2" style="background-image: url(https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png);
    background-position: center;
    background-size: cover;"></div>

    <div class ="circle3"></div>
    <p class="tekst-under-cirkler3">Sofa</p>
    <div class="add_circle3" style="background-image: url(https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png);
    background-position: center;
    background-size: cover;"></div>

    <div class ="circle4"></div>
    <p class="tekst-under-cirkler4">Hygge Nykke</p>
    <div class="add_circle4" style="background-image: url(https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png);
    background-position: center;
    background-size: cover;"></div>

    <div class ="circle5"></div>
    <p class="tekst-under-cirkler5">Brædtspil</p>
    <div class="add_circle5" style="background-image: url(https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png);
    background-position: center;
    background-size: cover;"></div>

    <div class ="circle6"></div>
    <p class="tekst-under-cirkler6">AVin</p>
    <div class="add_circle6" style="background-image: url(https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png);
    background-position: center;
    background-size: cover;"></div>

    <div class ="circle7"></div>
    <p class="tekst-under-cirkler7">Kaffebrygger</p>
    <div class="add_circle7" style="background-image: url(https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png);
    background-position: center;
    background-size: cover;"></div>

    <div class ="circle8"></div>
    <p class="tekst-under-cirkler8">Pande </p>
    <div class="add_circle8" style="background-image: url(https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png);
    background-position: center;
    background-size: cover;"></div>

    <div class ="circle9"></div>
    <p class="tekst-under-cirkler9">Plante </p>
    <div class="add_circle9" style="background-image: url(https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png);
    background-position: center;
    background-size: cover;"></div>

    <div class ="circle10"></div>
    <p class="tekst-under-cirkler10">Lampe</p>
    <div class="add_circle10" style="background-image: url(https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png);
    background-position: center;
    background-size: cover;"></div>



</div>
<div class="container-bottom">
    <p>Author: Hege Refsnes<br>
        <a href="mailto:hege@example.com"></a></p>

</div>
</body>
</html>